<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Tienda.Id" value="1006" />
        <add key="Tienda.Nombre" value="Costanera Center" />
        <add key="FTP.Servidor" value="ftp.ffrancoweb.com" />
        <add key="FTP.Usuario" value="invitadovip" />
        <add key="FTP.Contraseña" value="Fy7+mE2TOqoiWwG5dB4aCQ==" />
        <add key="FTP.Directorio" value="/prueba" />
        <add key="BD.Servidor" value="ALOHASRV1\SQLEXPRESS" />
        <add key="BD.Usuario" value="AlohaExport" />
        <add key="BD.Contraseña" value="yRHQmOzGrF8+IPYGwGf/zg==" />
        <add key="BD.Base_Datos" value="VentasAloha" />
      <add key="connectionString" value="Data Source=ALOHASRV1\SQLEXPRESS;Initial Catalog=Ventas_Aloha;UID=sa;PWD=3929093807FFM" />
      <add key="connectionCommandTimeout" value="500"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>   
</configuration>